#root {
  margin: 20px auto;
  width: 90%;
}

p {
  font-size: 110%;
}

ul {
  list-style: none;
}

button img {
  height: 1.7em;
  vertical-align: middle;
  margin: 0 8px 0 0;
  border-radius: 4px;
}

dt {
  font-weight: bold;
  float: left;
  min-width: 200px;
  text-align: right;
}

dt:after {
  content: ':';
  margin-right: 10px;
}

dd {
  clear: right;
}

table {
  margin-bottom: 12px;
}

input {
  height: 2em;
  margin 2px;
  padding-left: 2px;
}

#setup {
  display: flex;
  flex-direction: column;
}
  #setup label {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }
    #setup label span {
      font-weight: bold;
    }
    #setup label input,
    #setup label textarea {
      width: 100%;
    }
    #setup label textarea {
      height: 300px;
    }
    #setup label pre {
      white-space: pre-wrap;
      font-family: monospace;
    }
