* {
  box-sizing: border-box;
}

#root {
  margin: 20px auto;
  width: 90%;
}

p {
  font-size: 110%;
  line-height: 1.5em;
}

ul {
  list-style: none;
}

button img {
  height: 1.7em;
  vertical-align: middle;
  margin: 0 8px 0 0;
  border-radius: 4px;
}

dt {
  font-weight: bold;
  float: left;
  min-width: 200px;
  text-align: right;
}

dt:after {
  content: ':';
  margin-right: 10px;
}

dd {
  clear: right;
}

table {
  margin-bottom: 12px;
}

input {
  height: 2em;
  margin 2px;
  padding-left: 2px;
}

#setup {
  display: flex;
  flex-direction: column;
}
  #setup label {
    margin: 0 0 10px;
    display: flex;
    flex-direction: column;
  }
    #setup label span {
      font-weight: bold;
    }
    #setup label input,
    #setup label textarea,
    #setup label pre {
      width: 100%;
      font-family: monospace;
    }
    #setup label textarea {
      height: 80px;
      min-width: 100%;
    }
  #setup button {
    width: 100%;
  }

.loader {
  width: 65px;
}

.address {
  line-height: 1.5em;
  font-size: 1.8em;
  margin: 15px 0;
  font-family: monospace;
  text-align: center;
}

#view {}
  #view code {
    font-size: 1.2em;
  }
  #view ul {
    margin: 0;
    padding: 0;
  }
    #view li {
      padding: 17px;
      border-radius: 7px;
      font-family: monospace;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
    }
      #view li:hover {
        background: #EDEFF0;
      }
    #view li.active {
      overflow: auto;
      height: auto;
      white-space: pre-wrap;
      background: #EDEFF0;
    }
      #view li.active a {
        display: block;
      }
